<div class="col-md-3 images_1_of_4 text-center">
    <span class="bg"><img src="{{ asset(badge.logoUrl) }}" height="150px" width="150px"></span>
    <h4>
        <p> {{ badge.title }} </p>
    </h4>
</div>
