<div class="slider_bg"><!-- start slider -->
    <div class="container">
        <div id="da-slider" class="da-slider text-center">
            <div class="da-slide">
                <h2>PHP</h2>
                <p><span class="hide_text"> Ca idee generala, PHP(Hypertext PreProcessor) reprezinta un limbaj de programare ce permite modificarea paginilor web inainte ca acestea sa fie transmise de server catre browserele utilizatorilor.</span></p>
                <h3 class="da-link"><a href="{{ path('lesson_bundle.show_language', {id : 2, slugName : 'php'}) }}" class="fa-btn btn-1 btn-1e">Descopera mai multe</a></h3>
            </div>
            <div class="da-slide">
                <h2>Javascript</h2>
                <p><span class="hide_text">JavaScript (JS) este un limbaj de programare orientat obiect bazat pe conceptul prototipurilor. Este folosit mai ales pentru introducerea unor functionalitati in paginile web, codul Javascript din aceste pagini fiind rulat de catre browser.</span></p>
                <h3 class="da-link"><a href="{{ path('lesson_bundle.show_language', {id : 1, slugName : 'javascript'}) }}" class="fa-btn btn-1 btn-1e">Descopera mai multe</a></h3>
            </div>
            <div class="da-slide">
                <h2>MySql</h2>
                <p><span class="hide_text">MySQL este un sistem de gestiune a bazelor de date relaționale, produs de compania suedeza MySQL AB și distribuit sub Licența Publică Generală GNU. Este cel mai popular SGBD open-source la ora actuală.</span></p>
                <h3 class="da-link"><a href="{{ path('lesson_bundle.show_language', {id : 3, slugName : 'mysql'}) }}" class="fa-btn btn-1 btn-1e">Descopera mai multe</a></h3>
            </div>
        </div>
    </div>
</div><!-- end slider -->