.error-reset {
    width: 100%;
}

.reset-button {
    margin-top: 10px;
}

.image-form {
    padding: 10px 0px 10px 0px;
}

.user {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.user:hover {
    background-color: #eaeaea;
    color: #0d70b7;
}

.user a:hover {
    text-decoration: none;
    cursor: default;
}

.name {
    text-align: center;
}

.number-of-books {
    text-align: center;
}

.user-information {
    margin-top: 10px;
    border: 1px solid #d3d8e1;
}

.user-information .image {
    float: left;
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 8px -4px #000000;
    margin: 0 10px;
}

.user-information .user-description {
    padding-left: 10px;
}

.form-dialog {
    display: none;
}

.form-group {
    position: relative;
}

.loader-wrapper {

    display: none;
}

.answer-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: black;
    opacity: 0.3;
}

.answer-loader-image {
    width: 15%;
    margin-top: 17px;
    position: absolute;
    margin-left: 280px;
    margin-right: auto;
    z-index: 200;
 }

label.radio-answer {
    width: 100%;
}

.badge-modal{
    display: none;
}

.badge-modal img{
    width: 200px;
    height: 200px;
}

.badge-group{
    float: left;
    padding-left: 10px;
}