{% extends '::base_homepage.html.twig' %}
{% block header %}
    {% include "::header.html.twig" %}
{% endblock %}

{% block menu %}
    {% include "::menu.html.twig" %}
{% endblock %}
{% block slider %}
    {% include "::slider.html.twig" %}
{% endblock %}

{% block content %}

    <div class="main row">
        <div class="col-md-3 images_1_of_4 text-center">
            <span class="bg"><i class="fa fa-rocket"></i></span>
            <h4><a href="#">PHP</a></h4>
            <p class="para"> Ca idee generala, PHP(Hypertext PreProcessor) reprezinta un limbaj de programare ce permite modificarea paginilor web inainte ca acestea sa fie transmise de server catre browserele utilizatorilor.</p>
            <a href="{{ path('lesson_bundle.show_language', {id : 2, slugName : 'php'}) }}" class="fa-btn btn-1 btn-1e">learn more</a>
        </div>
        <div class="col-md-3 images_1_of_4 bg1 text-center">
            <span class="bg"><i class="fa fa-mobile"></i></span>
            <h4><a href="#">Javascript</a></h4>
            <p class="para">JavaScript (JS) este un limbaj de programare orientat obiect bazat pe conceptul prototipurilor.[5] Este folosit mai ales pentru introducerea unor functionalitati in paginile web, codul Javascript din aceste pagini fiind rulat de catre browser.</p>
            <a href="{{ path('lesson_bundle.show_language', {id : 1, slugName : 'javascript'}) }}" class="fa-btn btn-1 btn-1e">learn more</a>
        </div>
        <div class="col-md-3 images_1_of_4 bg1 text-center">
            <span class="bg"><i class="fa fa-cog"></i></span>
            <h4><a href="#">Sed Porta Dolor</a></h4>
            <p class="para">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32  by H. Rackham.</p>
            <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
        </div>
    </div>



{% endblock %}